{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-calendar")) %}

{% do headLink().appendStylesheet(url('assets/calendar-type-color-css')) %}

<h1>{{ translate("txt-%s-events")|format(which)|capitalize }}
    {{ calendarLink(null,'overview-admin','button', 'all') }}
    {{ calendarLink(null,'overview-admin','button', 'past') }}
    {{ calendarLink(null,'overview-admin','button', 'upcoming') }}
    {{ calendarLink(null,'new','button') }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


{{ filterbarelement(form) }}
{% include('application/partial/form-badges') %}
<p class="text-muted">{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count,paginator.pageRange) }}</p>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th colspan="2">{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'date', 'text': translate("txt-date")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'location', 'text': translate("txt-location")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'type', 'text': translate("txt-type")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'highlight', 'text': 'H'} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'own-event', 'text': 'O'} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'is_present', 'text': 'P'} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/calendar/overview', 'criteria': 'on_homepage', 'text': 'F'} %}</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for result in paginator.getCurrentItems() %}
            {% if result.fields['calendar_id'] %}

                {% set calendar = calendarService.findCalendarById(result.fields['calendar_id']) %}

                {% set calendarHasContact = calendarService.calendarHasContact(calendar, identity()) %}
                <tr {% if calendarHasContact %}class="active"{% endif %}>
                    <td>
                        {% if calendarHasContact %}<i class="fas fa-user text-primary"></i>{% endif %}
                    </td>
                    <td>{% if not result.fields.final %}<i class="far fa-question-circle"
                                                           title="{{ translate("txt-event-is-tentative") }}"></i>{% endif %}
                        {{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</td>
                    <td>{{ calendarLink(calendar,'view-admin', 'name') }}</td>
                    <td>{{ calendar.location }}</td>
                    <td><i class="far fa-calendar-alt {{ calendar.type.parseCssName() }}"></i> {{ calendar.type }}</td>
                    <td>{% if result.fields.highlight %}<i class="fas fa-check text-success"
                                                           title="{{ translate("txt-event-is-highlight") }}"></i>{% endif %}
                    </td>
                    <td>{% if result.fields.own_event %}<i class="fas fa-check text-success"
                                                           title="{{ translate("txt-is-own-event") }}"></i>{% endif %}
                    </td>
                    <td>{% if result.fields.is_present %}<i class="fas fa-check text-success"
                                                            title="{{ translate("txt-office-is-present") }}"></i>{% endif %}
                    </td>
                    <td>{% if result.fields.on_homepage %}<i class="fas fa-check text-success"
                                                             title="{{ translate("txt-event-on-frontpage") }}"></i>{% endif %}
                    </td>


                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td>{{ result.fields.date_from|solr_date('d M Y') }}</td>
                    <td>{{ result.fields.calendar }}</td>
                    <td>{{ result.fields.location }}</td>
                    <td>{{ result.fields.type }}</td>
                    <td colspan="4"></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% include 'application/partial/pagination-control' with {'paginator': paginator} %}
{% else %}
    {{ ztbalert().info(translate("txt-no-calendar-found"))|raw }}
{% endif %}


{{ form().closeTag()|raw }}
