{% do headScript().appendFile('assets/js/jquery.timepicker.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/jquery.slideraccess.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/jquery.timepicker.css') %}
{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
    ) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set calendar = form.get('calendar_entity_calendar') %}

{% if project %}
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">{{ translate("txt-project") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ project.parseFullName() }}</p></div>
    </div>
{% endif %}

{{ lbs5formelement(calendar.get('calendar')) }}
{{ lbs5formelement(calendar.get('type')) }}
{{ lbs5formelement(calendar.get('location')) }}



{{ lbs5formelement(calendar.get('final')) }}
{{ lbs5formelement(calendar.get('onHomepage')) }}
{{ lbs5formelement(calendar.get('highlight')) }}
{{ lbs5formelement(calendar.get('highlightDescription')) }}
{{ lbs5formelement(calendar.get('ownEvent')) }}
{{ lbs5formelement(calendar.get('present')) }}
{{ lbs5formelement(calendar.get('sequence')) }}
{{ lbs5formelement(calendar.get('dateFrom')) }}
{{ lbs5formelement(calendar.get('dateEnd')) }}
{{ lbs5formelement(calendar.get('description')) }}
{{ lbs5formelement(calendar.get('call')) }}
{{ lbs5formelement(calendar.get('imageUrl')) }}
{{ lbs5formelement(calendar.get('url')) }}

{{ formelement(form.get('csrf')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>


{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=datetime]').datetimepicker({
        addSliderAccess: true,
        sliderAccessArgs: {touchonly: false},
        timeFormat: 'HH:mm',
        dateFormat: 'yy-mm-dd'
    });
</script>
