{% do headScript().appendFile('assets/js/jquery.timepicker.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/jquery.slideraccess.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/jquery.timepicker.css') %}
{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}
{{ form().openTag(form)|raw }}


{% set calendar = form.get('calendar_entity_calendar') %}

{{ ztbformelement(calendar.get('calendar')) }}
{{ ztbformelement(calendar.get('type')) }}
{{ ztbformelement(calendar.get('location')) }}

{% if project %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-project") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static form-control-plaintext">{{ project.parseFullName() }}</p></div>
    </div>
{% endif %}

{{ ztbformelement(calendar.get('final')) }}
{{ ztbformelement(calendar.get('onHomepage')) }}
{{ ztbformelement(calendar.get('highlight')) }}
{{ ztbformelement(calendar.get('ownEvent')) }}
{{ ztbformelement(calendar.get('present')) }}
{{ ztbformelement(calendar.get('sequence')) }}
{{ ztbformelement(calendar.get('dateFrom')) }}
{{ ztbformelement(calendar.get('dateEnd')) }}
{{ ztbformelement(calendar.get('description')) }}
{{ ztbformelement(calendar.get('call')) }}
{{ ztbformelement(calendar.get('imageUrl')) }}
{{ ztbformelement(calendar.get('url')) }}

{{ formelement(form.get('csrf')) }}


<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>


{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=datetime]').datetimepicker({
        addSliderAccess: true,
        sliderAccessArgs: {touchonly: false},
        timeFormat: 'HH:mm',
        dateFormat: 'yy-mm-dd'
    });
</script>
