{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-calendar-item-%s")|format(calendar)) %}

<h1 class="display-4">{{ translate("txt-select-attendees-for-calendar-item-%s")|format(calendar) }}</h1>

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-md-3 form-control-label col-form-label">{{ translate("txt-calendar") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ calendarLink(calendar, 'view-admin', 'name') }} {{ calendarLink(calendar, 'edit', 'icon') }}</p>
    </div>
</div>


{{ ztbformelement(form.get('added')) }}
    {{ ztbformelement(form.get('removed')) }}


<div class="row">
    <div class="col-md-6">
        <h2>{{ translate("txt-current-calendar") }}</h2>

        <table class="table table-hover table-striped table-condensed table-sm" id="incalendar"></table>


        <input type="button" class="btn" onclick="Calendar.SelectAll()" value="{{ translate("txt-select-all") }}">
        <input type="button" class="btn" onclick="Calendar.Remove()" value="{{ translate("txt-remove") }}">
        <input type="button" class="btn" onclick="Calendar.Reset()" value="{{ translate("txt-reset") }}">
    </div>

    <div class="col-md-6">
        <h2>{{ translate("txt-choose-contacts") }}</h2>

        <div class="input-group">
            {{ formelement(form.get('selection'),"%s%s%s") }}
            <span class="input-group-btn">
        <input type="button" class="btn btn-primary"
               onclick="selectionSearch(document.getElementById('selection').value)"
               value="GET">
      </span>
        </div>
        <br>
        <div class="input-group">
            <input type="text" id="searchstring" class="form-control">
            <span class="input-group-btn">
        <input type="button" class="btn btn-primary" onclick="wildSearch(document.getElementById('searchstring').value)"
               value="GET">
      </span>
        </div>


        <h3>{{ translate("txt-search-results") }}</h3>
        <table class="table table-hover table-striped table-condensed table-sm" id="contacts"></table>


        <input type="button" class="btn" onclick="Contacts.SelectAll()" value="{{ translate("txt-select-all") }}">
        <input type="button" class="btn" onclick="Contacts.MoveTo(Calendar)" value="{{ translate("txt-add") }}">
    </div>
</div>

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

<style type="text/css">
    #sql {
        position: relative;
        width: 1200px;
        height: 600px;
    }
</style>


<script type="text/javascript">
    var Calendar;

    function oItem(id, displayName, email, org, added, removed) {
        this.id = id;
        this.displayName = displayName;
        this.email = email;
        this.org = org;
        this.removed = removed;
        this.added = added;
        this.selected = false;
    }

    function oCalendar(oName, Box) {

        this.oName = oName;
        this.RenderBox = Box;
        this.items = [];

        this.Add = function (id, displayName, email, org, added, removed) {
            this.items[this.items.length] = new oItem(id, displayName, email, org, added, removed)
        }

        this.Reset = function () {
            for (var i = this.items.length - 1; i >= 0; i--) {
                if (this.items[i].added) {
                    this.items.splice(i, 1);
                } else {
                    this.items[i].removed = false;
                }
            }
            this.Render();
        }

        this.Render = function () {
            var out = '';
            var item = null;
            if (this.items.length == 0) {
                out = 'No items.';
            } else {
                for (var i = 0; i < this.items.length; i++) {
                    item = this.items[i];

                    out += '<tr class="' + (item.selected ? 'success' : '') + (item.removed ? 'danger' : '') + '" ' +
                        '    id="item' + i + '" ' +
                        '    onclick="' + this.oName + '.Select(' + i + ')" ' +
                        '    >' +
                        '<td>' + (item.added ? '*' : '') + item.displayName + '</td>' +
                        '<td>' + item.org + '</td>' +
                        '</tr>';
                }
            }
            document.getElementById(this.RenderBox).innerHTML = out;
        }

        this.Select = function (i) {
            this.items[i].selected = !this.items[i].selected;
            this.Render();
        }

        this.SelectAll = function (i) {
            var item = null;
            for (var i = 0; i < this.items.length; i++) {
                item = this.items[i];
                if (!item.removed) {
                    item.selected = true;
                }
            }
            this.Render();
        }

        this.getAddList = function () {
            var out = '';
            for (var i = 0; i < this.items.length; i++) {
                if (this.items[i].added) {
                    out += ((out != '') ? ',' : '') + this.items[i].id;
                }
            }
            return out;
        }

        this.getRemoveList = function () {
            var out = '';
            for (var i = 0; i < this.items.length; i++) {
                if (this.items[i].removed) {
                    out += ((out != '') ? ',' : '') + this.items[i].id;
                }
            }
            return out;
        }

        this.UnSelect = function (id) {
            var item = null;
            for (var i = this.items.length - 1; i >= 0; i--) {
                item = this.items[i];
                if (item.id == id) {
                    item.selected = false;
                    break;
                }
            }
        }


        this.Delete = function (id) {
            var item = null;
            for (var i = this.items.length - 1; i >= 0; i--) {
                item = this.items[i];
                if (item.id == id) {
                    if (item.added) {
                        this.items.splice(i, 1);
                    } else {
                        item.selected = false;
                        item.removed = !item.removed;
                    }
                    break;
                }
            }
        }

        this.Remove = function () {
            var item = null;
            for (var i = this.items.length - 1; i >= 0; i--) {
                item = this.items[i];
                if (item.selected) {
                    if (item.added) {
                        this.items.splice(i, 1);
                    } else {
                        item.selected = false;
                        item.removed = true;
                    }
                }
            }
            this.Render();
        }

        this.MoveTo = function (oSel) {
            var item = null;
            var p = oSel.items.length;
            for (var i = this.items.length - 1; i >= 0; i--) {
                item = this.items[i];
                if (item.selected) {
                    if (p > 0) {
                        while (item.lname < oSel.items[p - 1].lname) {
                            p--;
                            if (p == 0) {
                                break;
                            }
                        }
                    }
                    if (p == oSel.items.length) {
                        oSel.items[p] = item;
                    } else {
                        oSel.items.splice(p, 0, item);
                    }
                    item.added = true;
                    item.selected = false;
                    this.items.splice(i, 1);
                }
            }
            this.Render();
            oSel.Render();
        }
    }

    function init() {
        Calendar = new oCalendar('Calendar', 'incalendar');
        {
            {% for calendarContact in calendar.calendarContact %}
            Calendar.Add(
                "{{ calendarContact.contact.id }}",
                "{{ calendarContact.contact.displayName }}",
                "{{ calendarContact.contact.email }}",
                "{{ calendarContact.contact.contactOrganisation.organisation }}", false, false
            );
            {% endfor %}
        }
        Calendar.Render();
        Contacts = new oCalendar('Contacts', 'contacts');
    }

    function loadCalendar(id) {
        getContacts('get=calendar&calendar=' + id);
    }

    function wildSearch(id) {
        getContacts(id);
    }

    function selectionSearch(id) {
        getContactsFromSelection(id);
    }

    function storeChanges() {
        document.getElementById('added').value = Calendar.getAddList();
        document.getElementById('removed').value = Calendar.getRemoveList();
        return true;
    }


    /**
     * Load the contacts based on a search action
     * @param q
     */
    function getContacts(q) {

        $.ajax({
            method: 'post',
            url: '{{ url('zfcadmin/contact-admin/search') }}',
            dataType: 'json',
            data: {
                search: q
            },
            success: function (result, status) {
                Contacts.items.length = 0;
                for (var i = 0; i < result.length; i++) {
                    Contacts.Add(
                        result[i].id,
                        result[i].name,
                        result[i].email,
                        result[i].organisation
                    );
                }
                Contacts.Render();
            }
        });
    }

    /**
     * Load the contacts based on a search action
     * @param q
     */
    function getContactsFromSelection(q) {

        $.ajax({
            method: 'post',
            url: '{{ url('zfcadmin/selection/get-contacts') }}',
            dataType: 'json',
            data: {
                id: q
            },
            success: function (result, status) {
                Contacts.items.length = 0;
                for (var i = 0; i < result.length; i++) {
                    Contacts.Add(
                        result[i].id,
                        result[i].name,
                        result[i].email,
                        result[i].organisation
                    );
                }
                Contacts.Render();
            }
        });
    }

    window.onload = init;
</script>