<h1>{{ translate("txt-upcoming-events") }}</h1>

<p class="lead">{{ translate("txt-upcoming-events-explanation") }}</p>

<table class="table table-gray">
    <thead>
    <tr>
        <th>{{ translate("txt-event") }}</th>
        <th>{{ translate("txt-location") }}</th>
        <th>{{ translate("txt-date") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for calendar in calendarItems if 'public' in calendar.type.access.toArray() %}
        <tr>
            <td><a target="_blank" href="{{ calendar.url }}">{{ calendar }}</a></td>
            <td>{{ calendar.location }}</td>
            <td>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
