{% for calendar in calendarItems if 'public' in calendar.type.access.toArray() %}
    {% if loop.index % 3 ==  1 %}
    <div class="row">
    {% endif %}
    <div class="col-lg-4">
        <div class="thumbnail thumbnail-width-350">
            <a href="{{ calendar.url }}" target="_blank">
                <div class="thumbnail-image">
                    <img class="img-responsive" src="{{ calendar.imageUrl }}">
                    <div class="thumbnail-caption-overlay">
                        <p>{{ calendar.description | slice(0, 400) | raw }} {{ (calendar.description|length > 400) ? '...' : '' }}</p>
                    </div>
                </div>
            </a>
            <div class="caption nomarginright">
                <h4><a href="{{ calendar.url }}" target="_blank">{{ calendar.calendar }}</a></h4>
                <div class="row">
                    <div class="col-md-7">
                        <p>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}<br>{{ calendar.location }}</p>
                    </div>
                    <div class="col-md-5 nopadding">
                        <a href="{{ calendar.url }}" target="_blank" class="btn btn-primary pull-right">{{ translate("txt-read-more") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if loop.index % 3 ==  0 %}
        </div>
    {% endif %}
{% endfor %}