<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>{{ translate("txt-date") }}</th>
        <th>{{ translate("txt-event-meeting") }}</th>
        <th>{{ translate("txt-location") }}</th>
        <th>{{ translate("txt-type") }}</th>
        <th>{{ translate("txt-documents") }}</th>
        {% if communityCalendarContactEnabled %}
            <th>{{ translate("txt-role") }}</th>
            <th>{{ translate("txt-presence") }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for calendar in elements %}
        {% if calendarService.calendarHasContact(calendar, identity()) %}
            {% set calendarContact = calendarService.findCalendarContactByContactAndCalendar(identity(), calendar) %}
        {% else %}
            {% set calendarContact = false %}
        {% endif %}

        <tr {% if calendarContact %}class="table-itea"{% endif %}>
            <td>
                {% if calendarContact %}
                    <i class="fa fa-user text-itea"></i>
                {% endif %}
            </td>
            <td>
                {{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}
            </td>
            <td>{{ calendarLink(calendar,'view-community', 'name') }}</td>
            <td>{{ calendar.location }}</td>
            <td>{{ calendar.type }}</td>
            <td>{{ calendar.document|length }}</td>
            {% if communityCalendarContactEnabled %}
                <td>{{ calendarContact.role }}</td>
                <td>
                    {% if calendarContact %}
                        <i title="{{ translate("txt-presence-status-tentative-hover-text") }}"
                           data-contact="{{ calendarContact.id }}"
                           data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") }}"
                           class="presence-icon cursor-pointer fa fa-question-circle {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") %}text-highlight{% endif %}"></i>
                        <i title="{{ translate("txt-presence-status-decline-hover-text") }}"
                           data-contact="{{ calendarContact.id }}"
                           data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") }}"
                           class="presence-icon cursor-pointer fa fa-ban {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") %}text-highlight{% endif %}"></i>
                        <i title="{{ translate("txt-presence-status-accept-hover-text") }}"
                           data-contact="{{ calendarContact.id }}"
                           data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") }}"
                           class="presence-icon cursor-pointer fa fa-check-square-o {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") %}text-highlight{% endif %}"></i>

                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
