{{ calendarLink(null,'list', 'alternativeShow', 'upcoming', '<h3 class="home">'  ~
translate("txt-upcoming-events") ~ '</h3>') }}

<table class="table table-condensed">
    <tbody>
    {% for calendar in calendarItems %}
        <tr {% if zfcUserIdentity() and calendarService.calendarHasContact(calendar, zfcUserIdentity()) %}class="active"{% endif %}>
            <td><span class="label label-article-type-event"><span class="glyphicon glyphicon-file"
                                                                   title="{{ translate("txt-event") }}"></span></span></td>
            <td>{{ calendarLink(calendar,'view','name') }}</td>
            <td>
                {% if zfcUserIdentity() and calendarService.calendarHasContact(calendar, zfcUserIdentity()) %}
                    <i class="fa fa-user"></i>
                {% endif %}
                {{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</td>
            <td>{{ calendar.location }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
