<h1>{{ translate("txt-events") }}</h1>

<p class="lead">{{ translate("txt-events-explanation") }}</p>

{% for calendar in calendarItems|filter(calendar => 'public' in calendar.type.access.toArray()) -%}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th colspan="2">{{ calendarLink(calendar,'view','name') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ translate("txt-date") }}</td>
            <td>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</td>
        </tr>
        {% if calendar.location %}
            <tr>
                <td>{{ translate("txt-location") }}</td>
                <td>{{ calendar.location }}</td>
            </tr>
        {% endif %}
        {% if calendar.description %}
            <tr>
                <td>{{ translate("txt-more-information") }}</td>
                <td>{{ calendar.description|raw }}</td>
            </tr>
        {% endif %}
        {% if calendar.url %}
            <tr>
                <td>{{ translate("txt-link") }}</td>
                <td><a href="{{ calendar.url }}" target="_blank">{{ calendar.url }}</a></td>
            </tr>
        {% endif %}
        {% if calendar.imageUrl %}
            <tr>
                <td colspan="2"><img src="{{ calendar.imageUrl }}"></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <hr>
    <br>
{% endfor %}
