{% if which is constant("Calendar\\Service\\CalendarService::WHICH_UPCOMING") %}
    <h1>{{ translate("txt-upcoming-events") }}</h1>
{% else %}
    <h1>{{ translate("txt-events") }}</h1>
{% endif %}

<table class="table table-aeneas">
    <tbody>
    {% for calendar in calendarItems if 'public' in calendar.type.access.toArray() %}
        <tr>
            <td><span class="date">{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</span>
                <br><span class="location">{{ calendar.location }}</span></td>
            <td><a target="_blank" href="{{ calendar.url }}">{{ calendar }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>