<h1 class="display-4">{{ translate("txt-upcoming-events") }}</h1>

<p class="lead">{{ translate("txt-upcoming-events-explanation") }}</p>

<div class="row">
    {% for calendar in calendarItems if 'public' in calendar.type.access.toArray() %}




        {% if loop.first %}
            <div class="col-md-12">
                <a href="{{ calendarLink(calendar,'view','social') }}">
                    <div class="card">
                        <img class="card-img-top" src="{{ image(calendar.image, 1200, 300, true) }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5>{{ calendar.calendar }} {{ calendarLink(calendar,'edit','icon') }}</h5>

                            <p class="text-muted">{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</p>

                            <dl class="row">
                                {% if calendar.location %}
                                    <dt class="col-md-3">{{ translate("txt-location") }}</dt>
                                    <dd class="col-md-9">{{ calendar.location }}</dd>
                                {% endif %}
                                {% if calendar.description %}
                                    <dt class="col-md-3">{{ translate("txt-more-information") }}</dt>
                                    <dd class="col-md-9">{{ calendar.description|raw }}</dd>
                                {% endif %}
                                {% if calendar.url %}
                                    <dt class="col-md-3">{{ translate("txt-link") }}</dt>
                                    <dd class="col-md-9">{{ calendar.url }}</dd>
                                {% endif %}
                            </dl>
                            {#{% if calendar.imageUrl %}#}
                            {##}
                            {#<td colspan="2"><img src="{{ calendar.imageUrl }}"></td>#}
                            {##}
                            {#{% endif %}#}
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-md-6">
                <a href="{{ calendarLink(calendar,'view','social') }}">
                    <div class="card">
                        <img class="card-img-top" src="{{ image(calendar.image, 1200, 300, true) }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5>{{ calendar.calendar }} {{ calendarLink(calendar,'edit','icon') }}</h5>

                            <p class="text-muted">{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</p>

                            <dl class="row">
                                {% if calendar.location %}
                                    <dt class="col-md-3">{{ translate("txt-location") }}</dt>
                                    <dd class="col-md-9">{{ calendar.location }}</dd>
                                {% endif %}
                                {% if calendar.description %}
                                    <dt class="col-md-3">{{ translate("txt-more-information") }}</dt>
                                    <dd class="col-md-9">{{ calendar.description|raw }}</dd>
                                {% endif %}
                                {% if calendar.url %}
                                    <dt class="col-md-3">{{ translate("txt-link") }}</dt>
                                    <dd class="col-md-9">{{ calendar.url }}</dd>
                                {% endif %}
                            </dl>
                            {#{% if calendar.imageUrl %}#}
                            {##}
                            {#<td colspan="2"><img src="{{ calendar.imageUrl }}"></td>#}
                            {##}
                            {#{% endif %}#}
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>


<style type="text/css">
    .card {
        margin: 10px 0;
    }

    .card > a {
        text-decoration: none;
        color: black;
    }
</style>