{% set calendarContacts = calendarService.findCalendarContactsByCalendar(calendarService.calendar) %}

    {% if calendarContacts|length > 0 %}
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th bgcolor="#00a651" height="40" valign="middle">{{ translate("txt-name") }}</th>
                <th bgcolor="#00a651" valign="middle">{{ translate("txt-organisation") }}</th>
                <th bgcolor="#00a651" valign="middle">{{ translate("txt-role") }}</th>
                <th bgcolor="#00a651" valign="middle">{{ translate("txt-signature") }}</th>
            </tr>
            </thead>
            <tbody>
            {% if empty %}
                {% for i in 1..12 %}
                    <tr>
                        <td height="40" valign="middle"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% set extraLimit = 12 - calendarContacts|length %}
                {% for calendarContact in calendarContacts %}
                    <tr>
                        {% set contactService = contactServiceProxy(calendarContact.contact) %}
                        <td height="40" valign="middle">{{ calendarContact.contact.displayName }}</td>
                        <td valign="middle">{{ contactService.parseOrganisation() }}</td>
                        <td valign="middle">{{ calendarContact.role }}</td>
                        <td valign="middle"></td>
                    </tr>
                {% endfor %}
                {% for i in 1..extraLimit %}
                    <tr>
                        <td height="40" valign="center"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    {% else %}
        No attendees found
    {% endif %}
