{% do headTitle().append(translate("txt-calendar")) %}
{% do headTitle().append(translate("txt-document-%s")|format(document)) %}

<h1 class="display-4">{{ translate("txt-document-%s")|format(document) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-calendar") }}</dt>
    <dd>{{ calendarLink(document.calendar,'view-community','text') }}</dd>
    <dt>{{ translate("txt-title") }}</dt>
    <dd>{{ document.document }}</dd>
    <dt>{{ translate("txt-content-type") }}</dt>
    <dd>{{ document.contentType.description }}</dd>
    <dt>{{ translate("txt-size") }}</dt>
    <dd>{{ document.size|parse_size }}</dd>
</dl>
{{ calendarDocumentLink(document, 'edit-community', 'button') }}
{{ calendarDocumentLink(document, 'download', 'button') }}
