{% do headTitle().append(translate("txt-calendar")) %}
{% do headTitle().append(translate("txt-edit-document-%s")|format(document)) %}

<h1>{{ translate("txt-edit-calendar-document") }}</h1>

<p class="lead">{{ translate("txt-edit-calendar-document-%s-explanation")|format(document) }}</p>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-calendar") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ calendarLink(document.calendar,'view-community') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('document')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-current-file") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ calendarDocumentLink(document,'download','name') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}
{{ formelement(form.get('csrf')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('delete')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
