<h1>{{ translate("txt-edit-calendar-document") }}</h1>

<p class="lead">{{ translate("txt-edit-calendar-document-%s-explanation")|format(document) }}</p>

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-calendar") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ calendarLink(document.calendar,'view-community') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('document')) }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-current-file") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ calendarDocumentLink(document,'download','name') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}




<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('delete')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
