{% do headTitle().append(translate("txt-calendar")) %}
{% do headTitle().append(calendar.calendar) %}
<h1 class="display-4">{{ calendar }}</h1>

<p class="lead">{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}, {{ calendar.location }} {{ calendarLink(calendar,'view-admin','icon') }}</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" href="#calendar" data-toggle="tab" role="tab">{{ translate("txt-calendar")|capitalize }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#documents" data-toggle="tab" role="tab">{{ translate("txt-documents")|capitalize }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#attendees" data-toggle="tab" role="tab">{{ translate("txt-attendees")|capitalize }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="calendar">
        <br>
        <dl class="dl-horizontal">
            {% if calendar.projectCalendar %}
                <dt>{{ translate("txt-project") }}</dt>
                <dd>{{ projectLink(calendar.projectCalendar.project,'view-community','name') }}</dd>
            {% endif %}
            <dt>{{ translate("txt-date") }}</dt>
            <dd>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</dd>
            <dt>{{ translate("txt-type") }}</dt>
            <dd>{{ calendar.type }}</dd>
            <dt>{{ translate("txt-location") }}</dt>
            <dd>{{ calendar.location }}</dd>
            <dt>{{ translate("txt-description") }}</dt>
            <dd>{{ calendar.description|default("-")|raw }}</dd>
            <dt>{{ translate("txt-documents") }}</dt>
            <dd>{{ translate("txt-%s-documents")|format(calendar.document.count()) }}</dd>
        </dl>


    </div>
    <div class="tab-pane" role="tabpanel" id="documents">

        <br>

        <ul class="nav nav-pills nav-nos-menu">
            <li class="nav-item active"><a class="nav-link active" href="#total-calendar-documents"
                                  data-toggle="pill">{{ translate("txt-calendar-documents") }}</a></li>
            {% if calendar.projectCalendar %}
                <li class="nav-item"><a class="nav-link" href="#version-documents"
                       data-toggle="pill">{{ translate("txt-version-documents") }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#reporting"
                       data-toggle="pill">{{ translate("txt-reporting") }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#public-project-results"
                       data-toggle="pill">{{ translate("txt-public-project-results") }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#workpackage-deliverables"
                       data-toggle="pill">{{ translate("txt-workpackage-deliverables") }}</a></li>
            {% endif %}
        </ul>


        <div class="tab-content">


            <div class="tab-pane active" id="total-calendar-documents">

                <h3>{{ translate("txt-calendar-documents") }}</h3>

                {% if calendar.document.count() > 0 %}
                    <table class="table table-striped table-hover table-condensed table-sm">
                        <thead>
                        <tr>
                            <th>{{ translate("txt-document") }}</th>
                            <th>{{ translate("txt-content-type") }}</th>
                            <th>{{ translate("txt-created") }}</th>
                            <th>{{ translate("txt-size") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in calendar.document %}
                            <tr>
                                <td>
                                    {{ contentTypeIcon(document.contentType) }}&nbsp;
                                    {{ calendarDocumentLink(document,'document-community', 'name') }}
                                    {{ calendarDocumentLink(document,'download','icon') }}
                                </td>
                                <td>{{ document.contentType.description }}</td>
                                <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                                <td>{{ document.size|parse_size }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {{ calendarLink(calendar, 'download-binder', 'button') }}
                {% else %}
                    {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
                {% endif %}

                {% if isAllowed(calendar, 'add-document') %}
                    {% do form.prepare() %}
                    {% do form.setAttribute('class','form-horizontal') %}

                    {{ form().openTag(form)|raw }}
                    {{ ztbformelement(form.get('document')) }}
                    {{ ztbformelement(form.get('file')) }}
                    {{ formelement(form.get('csrf')) }}

                    <div class="form-group row">
                        <div class="offset-md-3 col-sm-offset-3 col-sm-9">
                            {{ ztbformelement(form.get('submit')) }}
                        </div>
                    </div>

                    {{ form().closeTag()|raw }}
                {% endif %}
            </div>

            {% if calendar.projectCalendar %}
                <div class="tab-pane" role="tabpanel" id="version-documents">

                    {% set version = projectService.getLatestProjectVersion(calendar.projectCalendar.project) %}

                    <h3>{{ translate("txt-version-documents") }}</h3>

                    {{ ztbalert().info(translate("txt-this-version-%s-has-been-%s-and-submitted-on-%s")|format(
                    version.versionType,
                    translate(version.getApproved(true)),
                    version.dateReviewed|date('d-m-Y')
                    ))|raw }}

                    {% if version.versionDocument.count() > 0 %}
                        <table class="table table-striped table-hover table-condensed table-sm">
                            <thead>
                            <tr>
                                <th>{{ translate("txt-document") }}</th>
                                <th>{{ translate("txt-content-type") }}</th>
                                <th>{{ translate("txt-created") }}</th>
                                <th>{{ translate("txt-size") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for document in version.versionDocument %}
                                <tr>
                                    <td>
                                        {{ contentTypeIcon(document.contentType) }}
                                        {{ versionDocumentLink(document,'view-community', 'name') }}
                                        {{ versionDocumentLink(document,'download','icon') }}
                                    </td>
                                    <td>{{ document.contentType.description }}</td>
                                    <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ document.size|parse_size }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {{ versionLink(version,'download-version-document-binder','button') }}
                    {% else %}
                        {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
                    {% endif %}

                </div>

                <div class="tab-pane" role="tabpanel" id="reporting">

                    <h3>{{ translate("txt-progress-reports") }}</h3>
                    {% if calendar.projectCalendar.project.report.count() > 0 %}
                        <table class="table table-hover table-striped table-condensed table-sm">
                            <thead>
                            <tr>
                                <th>{{ translate("txt-report") }}</th>
                                <th>{{ translate("txt-contact") }}</th>
                                <th>{{ translate("txt-date") }}</th>
                                <th>{{ translate("txt-amount-of-documents") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in calendar.projectCalendar.project.report %}
                                <tr>
                                    <td>{{ reportLink(report,'report-community', 'name') }} {{ reportLink(report,'download', 'icon') }}</td>
                                    <td>{{ report.contact.displayName }}
                                        <div class="pull-right"><a href="mailto:{{ report.contact.email }}"><i
                                                        class="fa fa-envelope-o"></i></a> {{ contactLink(report.contact,'view-admin','icon') }}
                                        </div>
                                    </td>
                                    <td>{{ report.dateCreated|string_date }}</td>
                                    <td>{{ report.item.count() }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% else %}
                        {{ ztbalert().info(translate("txt-no-report-documents-attached"))|raw }}
                    {% endif %}

                    <h3>{{ translate("txt-review-documents") }}</h3>

                    <table class="table table-hover table-striped table-condensed table-sm">
                        <thead>
                        <tr>
                            <th>{{ translate("txt-report") }}</th>
                            <th>{{ translate("txt-date") }}</th>
                            <th>{{ translate("txt-contact") }}</th>
                            <th>{{ translate("txt-content-type") }}</th>
                            <th>{{ translate("txt-size") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results if result.type.category.id is constant("Project\\Entity\\Result\\TypeCategory::PROJECT_REVIEW") %}
                            <tr>
                                <td>
                                    {{ contentTypeIcon(result.contentType) }}
                                    {{ resultLink(result,'download', 'public-name') }}
                                </td>
                                <td>{{ result.dateCreated|string_date }}</td>
                                <td>{{ result.contact.displayName }}
                                    <div class="pull-right"><a href="mailto:{{ result.contact.email }}"><i
                                                    class="fa fa-envelope-o"></i></a> {{ contactLink(result.contact,'view-admin','icon') }}
                                    </div>
                                </td>
                                <td>{{ result.contentType.description }}</td>
                                <td>{{ result.size|parse_size }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane" role="tabpanel" id="public-project-results">

                    <h3>{{ translate("txt-public-project-results") }}</h3>

                    <table class="table table-hover table-striped table-condensed table-sm">
                        <thead>
                        <tr>
                            <th>{{ translate("txt-report") }}</th>
                            <th>{{ translate("txt-date") }}</th>
                            <th>{{ translate("txt-contact") }}</th>
                            <th>{{ translate("txt-content-type") }}</th>
                            <th>{{ translate("txt-size") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in results if result.type.category.id is constant("Project\\Entity\\Result\\TypeCategory::PROJECT_PUBLICATIONS") %}
                            <tr>
                                <td>
                                    {{ contentTypeIcon(result.contentType) }}
                                    {{ resultLink(result,'download', 'public-name') }}
                                </td>
                                <td>{{ result.dateCreated|string_date }}</td>
                                <td>{{ result.contact.displayName }}
                                    <div class="pull-right"><a href="mailto:{{ result.contact.email }}"><i
                                                    class="fa fa-envelope-o"></i></a> {{ contactLink(result.contact,'view-admin','icon') }}
                                    </div>
                                </td>
                                <td>{{ result.contentType.description }}</td>
                                <td>{{ result.size|parse_size }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h3>{{ translate("txt-public-deliverables") }}</h3>

                    {% include 'project/partial/list/workpackage-document' with {'documents':projectService.findPublicWorkpackageDocuments(calendar.projectCalendar.project)} %}

                </div>

                <div class="tab-pane" role="tabpanel" id="workpackage-deliverables">

                    <h3>{{ translate("txt-workpackage-deliverables") }}</h3>

                    {% for workpackage in workpackageService.findWorkpackageByProjectAndWhich(calendar.projectCalendar.project) if workpackage.document.count() > 0 %}
                        <h4 class="home">{{ workpackageLink(workpackage,'view-community','sequence-and-name') }}</h4>
                        {% include 'project/partial/list/workpackage-document' with {'documents':workpackage.document} %}
                        <hr>
                    {% endfor %}

                    {{ projectLink(calendar.projectCalendar.project, 'download-workpackage-document-binder', 'button') }}
                </div>
            {% endif %}

        </div>


    </div>
    <div class="tab-pane" role="tabpanel" id="attendees">

        {% set calendarContacts = calendarService.findCalendarContactsByCalendar(calendar) %}

        {% if calendarContacts|length > 0 %}
            <table class="table table-hover table-striped table-condensed table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-name") }}</th>
                    <th>{{ translate("txt-organisation") }}</th>
                    <th>{{ translate("txt-role") }}</th>
                    <th>{{ translate("txt-presence") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for calendarContact in calendarContacts %}

                    <tr {% if zfcUserIdentity().getId() == calendarContact.contact.contact.id %}class="success"{% endif %}>
                        <td>
                            {% if zfcUserIdentity().getId() == calendarContact.contact.contact.id %}
                                <i class="fa fa-user"></i>
                            {% endif %}
                            {{ calendarContact.contact.displayName }}
                            <div class="pull-right"><a href="mailto:{{ calendarContact.contact.email }}"><i
                                            class="fa fa-envelope-o"></i></a> {{ contactLink(calendarContact.contact,'view-admin','icon') }}
                            </div>
                        </td>
                        <td>{{ calendarContact.contact.contactOrganisation.organisation }}
                            ({{ calendarContact.contact.contactOrganisation.organisation.country }})
                        </td>
                        <td>{{ calendarContact.role }}</td>
                        <td>
                            {% do calendarService.addResource(calendarContact,'\Calendar\\Acl\\Assertion\\Contact') %}
                            {% if isAllowed(calendarContact,'update-status') %}
                            <i title="{{ translate("txt-presence-status-tentative-hover-text") }}"
                               rel="{{ calendarContact.id }}-{{ constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") }}"
                               class="presence-icon fa fa-question-circle {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") %}active text-highlight{% endif %}"></i>
                            <i title="{{ translate("txt-presence-status-decline-hover-text") }}"
                               rel="{{ calendarContact.id }}-{{ constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") }}"
                               class="presence-icon fa fa-ban {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") %}active text-highlight{% endif %}"></i>
                            <i title="{{ translate("txt-presence-status-accept-hover-text") }}"
                               rel="{{ calendarContact.id }}-{{ constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") }}"
                               class="presence-icon fa fa-check-square-o {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") %}active text-highlight{% endif %}"></i>
                            {% else %}
                            {{ calendarContact.status }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-attendees-selected"))|raw }}
        {% endif %}

        {{ calendarLink(calendar,'select-attendees', 'button') }}
        {% if calendarContacts|length > 0 %}
            {{ calendarLink(calendar,'send-message', 'button') }}
            {{ calendarLink(calendar,'presence-list', 'button') }}
            {{ calendarLink(calendar,'signature-list', 'button') }}
        {% endif %}
    </div>
</div>

<style type="text/css">
    .presence-icon:hover {
        cursor: pointer;
        color: #00a651;
    }
</style>