{% do headTitle().append(translate("txt-calendar")) %}
<h1>{{ translate("txt-calender-contact-items") }}</h1>

{% if calendarContacts|length > 0 %}
    <table class="table table-sm table-listed table-striped table-hover">
        <thead>
        <tr>
            <th>{{ translate("txt-no") }}</th>
            <th>{{ translate("txt-date") }}</th>
            <th>{{ translate("txt-event-meeting") }}</th>
            <th>{{ translate("txt-location") }}</th>
            <th>{{ translate("txt-role") }}</th>
            <th>{{ translate("txt-presence") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for calendarContact in calendarContacts %}
            <tr>
                <td><small class="text-muted">{{ loop.index }}</small></td>
                <td>
                    {{ calendarContact.calendar.dateFrom|from_to_date(calendarContact.calendar.dateEnd) }}
                </td>
                <td>{{ calendarLink(calendarContact.calendar,'view-community', 'name') }}</td>
                <td>{{ calendarContact.calendar.location }}</td>
                <td>{{ calendarContact.role }}</td>
                <td>
                    <i title="{{ translate("txt-presence-status-tentative-hover-text") }}"
                       data-contact="{{ calendarContact.id }}"
                       data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") }}"
                       class="presence-icon cursor-pointer fas fa-question-circle {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_TENTATIVE") %}text-highlight{% endif %}"></i>
                    <i title="{{ translate("txt-presence-status-decline-hover-text") }}"
                       data-contact="{{ calendarContact.id }}"
                       data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") }}"
                       class="presence-icon cursor-pointer fas fa-ban {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_DECLINE") %}text-highlight{% endif %}"></i>
                    <i title="{{ translate("txt-presence-status-accept-hover-text") }}"
                       data-contact="{{ calendarContact.id }}"
                       data-status="{{ constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") }}"
                       class="presence-icon cursor-pointer fas fa-check {% if calendarContact.status.id == constant("Calendar\\Entity\\ContactStatus::STATUS_ACCEPT") %}text-highlight{% endif %}"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-calendar-items-found"))|raw }}
{% endif %}