{% do headTitle().append(translate("txt-calendar")) %}
{% do headTitle().append(translate("txt-edit-attendees-of-calendar-item")) %}
<h1>{{ translate("txt-edit-attendees-of-calendar-item-%s")|format(calendar) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% if calendar.isReview() %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-project-name") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ projectLink(calendar.projectCalendar.project,'view-community', 'name') }}</p>
        </div>
    </div>
{% endif %}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ calendar }}</p>
    </div>
</div>

<h3>{{ translate("txt-project-reviewers") }}</h3>
<table class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <th>{{ translate("txt-reviewer") }}</th>
        <th>{{ translate("txt-type") }}</th>
        <th>{{ translate("txt-organisation") }}</th>
        <th>{{ translate("txt-country") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for calendarContact in calendarService.findGeneralCalendarContactByCalendar(calendar) %}
        <tr>
            <td>{{ calendarContact.contact.parseFullname() }}</td>
            <td>{{ calendarContact.role }}</td>
            <td>{{ contactService.parseOrganisation(calendarContact.contact) }}</td>
            <td>{{ contactService.parseCountry(calendarContact.contact) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ ztbformelement(form.get('contact')) }}
{{ formelement(form.get('csrf')) }}

<hr>

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
