<h1>{{ translate("txt-calendar-item-%s")|format(calendar) }}</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li><a href="#calendar" data-toggle="tab">{{ translate("txt-calendar")|capitalize }}</a></li>
    <li><a href="#documents" data-toggle="tab">{{ translate("txt-documents")|capitalize }}</a></li>
    <li><a href="#attendees" data-toggle="tab">{{ translate("txt-attendees")|capitalize }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="calendar">
    <h2>{{ translate("txt-calendar-item-details") }}</h2>

    <dl class="dl-horizontal">
        {% if calendar.projectCalendar %}
            {% set projectService = projectServiceProxy(calendar.projectCalendar.project) %}
            <dt>{{ translate("txt-project") }}</dt>
            <dd>{{ projectLink(projectService,'view-community') }}</dd>
        {% endif %}
        <dt>{{ translate("txt-date") }}</dt>
        <dd>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</dd>
        <dt>{{ translate("txt-type") }}</dt>
        <dd>{{ calendar.type }}</dd>
        <dt>{{ translate("txt-location") }}</dt>
        <dd>{{ calendar.location }}</dd>
        <dt>{{ translate("txt-documents") }}</dt>
        <dd>{{ translate("txt-%s-documents")|format(calendar.document.count()) }}</dd>
    </dl>

</div>
<div class="tab-pane" id="documents">

    <h2>{{ translate("txt-documents") }}</h2>

    <ul class="nav nav-pills nav-nos-menu">
        <li class="active"><a href="#total-calendar-documents"
                              data-toggle="pill">{{ translate("txt-total-calendar-documents") }}</a></li>
        <li><a href="#proposal-documents-documents"
               data-toggle="pill">{{ translate("txt-proposal-documents-documents") }}</a></li>
        <li><a href="#report-documents"
               data-toggle="pill">{{ translate("txt-report-documents") }}</a></li>
        <li><a href="#project-results"
               data-toggle="pill">{{ translate("txt-project-results") }}</a></li>
        <li><a href="#workpackage-deliverables"
               data-toggle="pill">{{ translate("txt-workpackage-deliverables") }}</a></li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="total-calendar-documents">

            <h3>{{ translate("txt-calendar-documents") }}</h3>

            {% if calendar.document.count() > 0 %}
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>{{ translate("txt-document") }}</th>
                        <th>{{ translate("txt-content-type") }}</th>
                        <th>{{ translate("txt-created") }}</th>
                        <th>{{ translate("txt-size") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in calendar.document %}
                        <tr>
                            <td>
                                {{ calendarDocumentLink(document,'document-community') }}
                                {{ calendarDocumentLink(document,'download','icon') }}
                            </td>
                            <td>{{ document.contentType.description }}</td>
                            <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                            <td>{{ document.size|parse_size }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
            {% endif %}

        </div>

        <div class="tab-pane" id="proposal-documents-documents">

            <h3>{{ translate("txt-proposal-documents-documents") }}</h3>

            {% set projectService = projectServiceProxy(calendar.projectCalendar.project) %}
            {% set version = projectService.getLatestProjectVersion() %}

            <p>{{ translate("txt-find-here-documents-for-version-of-type-%s")|format(version.versionType) }}</p>

            <p>{{ translate("txt-this-version-%s-has-been-%s-and-submitted-on-%s")|format(
                version.versionType,
                translate(version.getApproved(true)),
                version.dateReviewed|date('d-m-Y')
                ) }}</p>

            {% if version.versionDocument.count() > 0 %}
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>{{ translate("txt-document") }}</th>
                        <th>{{ translate("txt-content-type") }}</th>
                        <th>{{ translate("txt-created") }}</th>
                        <th>{{ translate("txt-size") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in version.versionDocument %}
                        <tr>
                            <td>
                                {{ versionDocumentLink(document,'document-community') }}
                                {{ versionDocumentLink(document,'download','icon') }}
                            </td>
                            <td>{{ document.contentType.description }}</td>
                            <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                            <td>{{ document.size|parse_size }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
            {% endif %}

        </div>

        <div class="tab-pane" id="report-documents">

            <h3>{{ translate("txt-report-documents") }}</h3>

            {% set projectService = projectServiceProxy(calendar.projectCalendar.project) %}

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ translate("txt-report") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                    <th>{{ translate("txt-amount-of-documents") }}</th>
                    <th>{{ translate("txt-download") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in projectService.project.report %}
                    <tr>
                        <td>{{ reportLink(report,'report-community', 'name') }}</td>
                        <td>{{ report.contact.displayName }}</td>
                        <td>{{ report.dateCreated|string_date }}</td>
                        <td>{{ report.item.count() }}</td>
                        <td>{{ reportLink(report,'download', 'icon') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="tab-pane" id="project-results">

            <h3>{{ translate("txt-project-results") }}</h3>

            {% set projectService = projectServiceProxy(calendar.projectCalendar.project) %}


        </div>

        <div class="tab-pane" id="workpackage-deliverables">

            <h3>{{ translate("txt-workpackage-deliverables") }}</h3>

            {% set projectService = projectServiceProxy(calendar.projectCalendar.project) %}

        </div>

    </div>


</div>
<div class="tab-pane" id="attendees">
    <h2>{{ translate("txt-calendar-attendees") }}</h2>

    {% if calendar.calendarContact.count() > 0 %}
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ translate("txt-name") }}</th>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-role") }}</th>
                <th>{{ translate("txt-presence") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for calendarContact in calendar.calendarContact %}
                {% set contactService = contactServiceProxy(calendarContact.contact) %}
                <tr {% if zfcUserIdentity().getId() == contactService.contact.id %}class="success"{% endif %}>
                    <td>
                        {% if zfcUserIdentity().getId() == contactService.contact.id %}
                            <span class="glyphicon glyphicon-user"></span>
                        {% endif %}
                        {{ calendarContact.contact.displayName }}</td>
                    <td>{{ contactService.parseOrganisation() }}</td>
                    <td>{{ calendarContact.role }}</td>
                    <td>{{ calendarContact.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ ztbalert().info(translate("txt-no-attendees-selected"))|raw }}
    {% endif %}

</div>
</div>
