<h1>{{ calendarService.calendar }}</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#calendar" data-toggle="tab">{{ translate("txt-calendar")|capitalize }}</a></li>
    <li><a href="#documents" data-toggle="tab">{{ translate("txt-documents")|capitalize }}</a></li>
    <li><a href="#attendees" data-toggle="tab">{{ translate("txt-attendees")|capitalize }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="calendar">
    <dl class="dl-horizontal">
        {% if calendarService.calendar.projectCalendar %}
            {% set projectService = projectServiceProxy(calendarService.calendar.projectCalendar.project) %}
            <dt>{{ translate("txt-project") }}</dt>
            <dd>{{ projectLink(projectService,'view-community','name') }}</dd>
        {% endif %}
        <dt>{{ translate("txt-date") }}</dt>
        <dd>{{ calendarService.calendar.dateFrom|from_to_date(calendarService.calendar.dateEnd) }}</dd>
        <dt>{{ translate("txt-type") }}</dt>
        <dd>{{ calendarService.calendar.type }}</dd>
        <dt>{{ translate("txt-location") }}</dt>
        <dd>{{ calendarService.calendar.location }}</dd>
        <dt>{{ translate("txt-documents") }}</dt>
        <dd>{{ translate("txt-%s-documents")|format(calendarService.calendar.document.count()) }}</dd>
    </dl>

</div>
<div class="tab-pane" id="documents">

<br>

<ul class="nav nav-pills nav-nos-menu">
    <li class="active"><a href="#total-calendar-documents"
                          data-toggle="pill">{{ translate("txt-calendar-documents") }}</a></li>
    {% if calendarService.calendar.projectCalendar %}
        <li><a href="#version-documents"
               data-toggle="pill">{{ translate("txt-version-documents") }}</a></li>
        <li><a href="#report-documents"
               data-toggle="pill">{{ translate("txt-report-documents") }}</a></li>
        <li><a href="#project-results"
               data-toggle="pill">{{ translate("txt-project-results") }}</a></li>
        <li><a href="#workpackage-deliverables"
               data-toggle="pill">{{ translate("txt-workpackage-deliverables") }}</a></li>
    {% endif %}
</ul>


<div class="tab-content">


<div class="tab-pane active" id="total-calendar-documents">

    <h3>{{ translate("txt-calendar-documents") }}</h3>

    {% if calendarService.calendar.document.count() > 0 %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ translate("txt-document") }}</th>
                <th>{{ translate("txt-content-type") }}</th>
                <th>{{ translate("txt-created") }}</th>
                <th>{{ translate("txt-size") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for document in calendarService.calendar.document %}
                <tr>
                    <td>
                        {{ contentTypeIcon(document.contentType) }}&nbsp;
                        {{ calendarDocumentLink(document,'document-community', 'name') }}
                        {{ calendarDocumentLink(document,'download','icon') }}
                    </td>
                    <td>{{ document.contentType.description }}</td>
                    <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                    <td>{{ document.size|parse_size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ calendarLink(calendarService.calendar, 'download-calendar-document-binder', 'button') }}
    {% else %}
        {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
    {% endif %}

    {% if isAllowed(calendarService.calendar, 'add-document') %}
        <hr>
        <h4>{{ translate("txt-upload-new-document") }}</h4>

        {% do form.prepare() %}
        {% do form.setAttribute('class','form-inline') %}

        {{ form().openTag(form)|raw }}

        <div class="form-group col-md-6">
            {{ formlabel(form.get('document')) }}
            {{ formelement(form.get('document')) }}
            {{ formelementerrors(form.get('document')) }}
        </div>
        <div class="form-group col-md-4">
            {{ formlabel(form.get('file')) }}
            {{ formelement(form.get('file')) }}
            {{ formelementerrors(form.get('file')) }}
        </div>
        <div class="form-group col-md-2">
            <label for="file">&nbsp;</label>
            {{ ztbformelement(form.get('submit')) }}
        </div>

        <br>



        {{ form().closeTag()|raw }}
    {% endif %}
</div>

{% if calendarService.calendar.projectCalendar %}
    <div class="tab-pane" id="version-documents">

        {% set projectService = projectServiceProxy(calendarService.calendar.projectCalendar.project) %}
        {% set version = projectService.getLatestProjectVersion() %}
        {% set versionService = versionServiceProxy(version) %}

        <h3>{{ translate("txt-version-documents") }}</h3>

        {{ ztbalert().info(translate("txt-this-version-%s-has-been-%s-and-submitted-on-%s")|format(
        version.versionType,
        translate(version.getApproved(true)),
        version.dateReviewed|date('d-m-Y')
        ))|raw }}

        {% if version.versionDocument.count() > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ translate("txt-document") }}</th>
                    <th>{{ translate("txt-content-type") }}</th>
                    <th>{{ translate("txt-created") }}</th>
                    <th>{{ translate("txt-size") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for document in version.versionDocument %}
                    <tr>
                        <td>
                            {{ contentTypeIcon(document.contentType) }}
                            {{ versionDocumentLink(document,'view-community', 'name') }}
                            {{ versionDocumentLink(document,'download','icon') }}
                        </td>
                        <td>{{ document.contentType.description }}</td>
                        <td>{{ document.dateCreated|date('d-m-Y H:i:s') }}</td>
                        <td>{{ document.size|parse_size }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ versionLink(versionService,'download-version-document-binder','button') }}
        {% else %}
            {{ ztbalert().info(translate("txt-no-documents-attached"))|raw }}
        {% endif %}
    </div>

    <div class="tab-pane" id="report-documents">

        <h3>{{ translate("txt-report-documents") }}</h3>

        {% set projectService = projectServiceProxy(calendarService.calendar.projectCalendar.project) %}

        {% if projectService.project.report.count() > 0 %}

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ translate("txt-report") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                    <th>{{ translate("txt-amount-of-documents") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in projectService.project.report %}
                    <tr>
                        <td>{{ reportLink(report,'report-community', 'name') }} {{ reportLink(report,'download', 'icon') }}</td>
                        <td>{{ report.contact.displayName }}</td>
                        <td>{{ report.dateCreated|string_date }}</td>
                        <td>{{ report.item.count() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            {{ ztbalert().info(translate("txt-no-report-documents-attached"))|raw }}
        {% endif %}

    </div>

    <div class="tab-pane" id="project-results">

        <h3>{{ translate("txt-project-results") }}</h3>

        {% set projectService = projectServiceProxy(calendarService.calendar.projectCalendar.project) %}

        {% if projectService.project.result.count() > 0 %}
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ translate("txt-report") }}</th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-content-type") }}</th>
                    <th>{{ translate("txt-size") }}</th>
                    <th>{{ translate("txt-date") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for result in projectService.project.result %}
                    <tr>
                        <td>
                            {{ contentTypeIcon(result.contentType) }}
                            {{ result }}
                            {{ resultLink(result,'download', 'icon') }}
                        </td>
                        <td>{{ result.contact.displayName }}</td>
                        <td>{{ result.contentType.description }}</td>
                        <td>{{ result.size|parse_size }}</td>
                        <td>{{ result.dateCreated|string_date }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-results-attached"))|raw }}
        {% endif %}


    </div>

    <div class="tab-pane" id="workpackage-deliverables">

        <h3>{{ translate("txt-workpackage-deliverables") }}</h3>

        {% set projectService = projectServiceProxy(calendarService.calendar.projectCalendar.project) %}

        {% for workpackage in workpackageService.findWorkpackageByProjectAndWhich(projectService.project) if workpackage.document.count() > 0 %}
            <h4 class="home">{{ workpackageLink(workpackage,'view-community','sequence-and-name') }}</h4>
            {% include 'project/partial/list/workpackage-document' with {'documents':workpackage.document} %}
            <hr>
        {% endfor %}

        {{ projectLink(projectService, 'download-workpackage-document-binder', 'button') }}
    </div>
{% endif %}

</div>


</div>
<div class="tab-pane" id="attendees">

    {% set calendarContacts = calendarService.findCalendarContactsByCalendar(calendarService.calendar) %}

    {% if calendarContacts|length > 0 %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{{ translate("txt-name") }}</th>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-role") }}</th>
                <th>{{ translate("txt-presence") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for calendarContact in calendarContacts %}
                {% set contactService = contactServiceProxy(calendarContact.contact) %}
                <tr {% if zfcUserIdentity().getId() == contactService.contact.id %}class="success"{% endif %}>
                    <td>
                        {% if zfcUserIdentity().getId() == contactService.contact.id %}
                            <i class="fa fa-user"></i>
                        {% endif %}
                        {{ calendarContact.contact.displayName }}</td>
                    <td>{{ contactService.parseOrganisation() }}</td>
                    <td>{{ calendarContact.role }}</td>
                    <td>{{ calendarContact.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ ztbalert().info(translate("txt-no-attendees-selected"))|raw }}
    {% endif %}

    {{ calendarLink(calendarService.calendar,'select-attendees', 'button') }}
</div>
</div>
