{% set extremePagesLimit = 3 %}
{% set nearbyPagesLimit = 2 %}
{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count, paginator.pageRange) }}
<ul class="pagination pull-right">
    {% if paginator.currentPageNumber > 1 %}
        <li class="page-item">{{ paginationLink((paginator.currentPageNumber - 1),translate("txt-previous")) }}</li>
    {% endif %}

    {% for i in range(1, extremePagesLimit) %}
        {% if ( i < paginator.currentPageNumber-nearbyPagesLimit ) %}
            <li class="page-item">
                {{ paginationLink(i,i) }}
            </li>
        {% endif %}
    {% endfor %}

    {% if extremePagesLimit + 1 < paginator.currentPageNumber - nearbyPagesLimit %}
        <li class="page-item"><a class="page-link">...</a></li>
    {% endif %}

    {% for i in range(paginator.currentPageNumber-nearbyPagesLimit, paginator.currentPageNumber - 1) %}
        {% if ( i > 0 ) %}
            <li class="page-item">
                {{ paginationLink(i,i) }}
            </li>
        {% endif %}
    {% endfor %}

    <li class="page-item {% if paginator.currentPageNumber %}active{% endif %}">
        {{ paginationLink(paginator.currentPageNumber , paginator.currentPageNumber) }}
    </li>

    {% if paginator.currentPageNumber < paginator.pageRange %}

        {% for i in range(paginator.currentPageNumber + 1, paginator.pageRange) %}

            {% if (loop.index <= nearbyPagesLimit and i <= paginator.pageRange ) %}
                <li class="page-item">
                    {{ paginationLink(i,i) }}
                </li>
            {% endif %}
        {% endfor %}

        {% if  (paginator.pageRange - extremePagesLimit) > (paginator.currentPageNumber + nearbyPagesLimit ) %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}

        {% for i in range(paginator.pageRange-extremePagesLimit+1, paginator.pageRange) %}
            {% if ( i > paginator.currentPageNumber+extremePagesLimit ) %}
                <li class="page-item">
                    {{ paginationLink(i,i) }}
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if paginator.currentPageNumber < paginator.pageRange %}
        <li class="page-item">
            {{ paginationLink((paginator.currentPageNumber + 1), translate("txt-next")) }}
        </li>
    {% endif %}

    <li class="page-item">
        {{ paginationLink('all', translate("txt-all")) }}
    </li>
</ul>
