<h1>{{ translate("%s")|format(calendar) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-date") }}</dt>
    <dd>{{ calendar.dateFrom|from_to_date(calendar.dateEnd) }}</dd>
    <dt>{{ translate("txt-type") }}</dt>
    <dd>{{ calendar.type }}</dd>
    <dt>{{ translate("txt-location") }}</dt>
    <dd>{{ calendar.location }}</dd>
    {% if calendar.description %}
        <dt>More information</dt>
        <dd>{{ calendar.description|raw }}</dd>
    {% endif %}
    {% if calendar.url %}
        <dt>Link</dt>
        <dd><a href="{{ calendar.url }}">{{ calendar.url }}</a></dd>
    {% endif %}
</dl>